<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee">
  <description>Empty web.xml file for Web Application</description>
  <context-param>
    <param-name>db.source</param-name>
    <!--param-value>java:/scheduleDS</param-value-->
    <param-value>jdbc/scheduleDS</param-value>
  </context-param>
  <servlet>
    <servlet-name>UnitCountServlet</servlet-name>
    <servlet-class>edu.ucla.library.libservices.scheduler.web.servlets.UnitCountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PrepLibraryServlet</servlet-name>
    <servlet-class>edu.ucla.library.libservices.scheduler.web.servlets.PrepLibraryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PrepSessionServlet</servlet-name>
    <servlet-class>edu.ucla.library.libservices.scheduler.web.servlets.PrepSessionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PrepScheduleServlet</servlet-name>
    <servlet-class>edu.ucla.library.libservices.scheduler.web.servlets.PrepScheduleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HandleStandardServlet</servlet-name>
    <servlet-class>edu.ucla.library.libservices.scheduler.web.servlets.HandleStandardServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PrepExceptionServlet</servlet-name>
    <servlet-class>edu.ucla.library.libservices.scheduler.web.servlets.PrepExceptionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HandleExceptionServlet</servlet-name>
    <servlet-class>edu.ucla.library.libservices.scheduler.web.servlets.HandleExceptionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HandlePeriodServlet</servlet-name>
    <servlet-class>edu.ucla.library.libservices.scheduler.web.servlets.HandlePeriodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnitCountServlet</servlet-name>
    <url-pattern>/unitcount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrepLibraryServlet</servlet-name>
    <url-pattern>/preplibrary</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrepSessionServlet</servlet-name>
    <url-pattern>/prepsession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrepScheduleServlet</servlet-name>
    <url-pattern>/prepschedule</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleStandardServlet</servlet-name>
    <url-pattern>/addschedule</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleStandardServlet</servlet-name>
    <url-pattern>/updateschedule</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleStandardServlet</servlet-name>
    <url-pattern>/deleteSchedule</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrepExceptionServlet</servlet-name>
    <url-pattern>/prepexception</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleExceptionServlet</servlet-name>
    <url-pattern>/addexception</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleExceptionServlet</servlet-name>
    <url-pattern>/editexception</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandlePeriodServlet</servlet-name>
    <url-pattern>/addperiod</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandlePeriodServlet</servlet-name>
    <url-pattern>/editperiod</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandlePeriodServlet</servlet-name>
    <url-pattern>/addexcept</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandlePeriodServlet</servlet-name>
    <url-pattern>/editexcept</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>35</session-timeout>
  </session-config>
  <mime-mapping>
    <extension>html</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>txt</extension>
    <mime-type>text/plain</mime-type>
  </mime-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/scheduleDS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>
